<%- include ./partials/header %>

<% console.log(prices) %>

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="title">
                <h1>BTC <span><%= prices[0]['USD'] %></span></h1>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <% articles.forEach(function(article) { %>
        <div class="box">
            <div class="container">
                <div class="title"><%= article.title %></div>
                <figure class="image is-64x64">
                    <img src="<%= article.image %>">
                </figure>
                <div class="container">
                    <%= article.body %>
                </div>
            </div>
        </div>
    <% }) %>
</div>

<% include ./partials/footer %>